{% extends 'core/base.html' %}

{% block nav_buttons %}
<a class="btn btn-danger nav-btn" href="/logout/">Logout</a>
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card shadow-lg border-0 p-5">

        <h1 class="text-primary fw-bold mb-4">

            About Internship

        </h1>

        <p>

            Internship is a practical training program
            that helps students gain real-world working
            experience before graduation.

        </p>

        <p>

            Through this system, students can:

        </p>

        <ul>

            <li>Apply for internship online</li>

            <li>Track application status</li>

            <li>Receive supervisor comments</li>

            <li>Monitor performance and attendance</li>

            <li>Communicate with supervisors</li>

        </ul>

        <p>

            Police Headquarters provides internship
            opportunities to help students gain
            professional skills and experience.

        </p>

    </div>

</div>

{% endblock %}