{% extends 'core/base.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">
        System Administrators
    </h2>

    <table class="table table-bordered">

        <thead>

            <tr>

                <th>Full Name</th>
                <th>Username</th>
                <th>Position</th>
                <th>Department</th>

            </tr>

        </thead>

        <tbody>

            {% for admin in admins %}

            <tr>

                <td>{{ admin.full_name }}</td>
                <td>{{ admin.user.username }}</td>
                <td>{{ admin.position }}</td>
                <td>{{ admin.department }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}